<h1>Respondendo ao Exercício</h1>

<div class="exercicio-proposto">
	<div ng-bind="titulo">
		
	</div>

	<div ng-bind="descricao">
		
	</div>

	<div ng-bind="dicas">
		dicas
	</div>

</div>

<div class="resposta">
	<div class="form-group">
		<label for="dicas">Insira seu código no campo abaixo</label>
		<label ng-bind="tempo"></label>
		<div id="codemirror"  name="dicas" ng-model="resposta">
			
		</div>
		<!-- <textarea class="form-control" name="dicas" ng-model="obj.dicas" id="dicas"  cols="30" rows="10"></textarea> -->
	</div>

	<button ng-click="tentar()" class="btn btn-succes"> Avaliar </button>
</div>

<div class="resultado" ng-if="resultado">
	

	<div ng-if="avalCorreta">Sua tentativa <span class="correta">passou</span> nos casos de teste   		</div>
	<div ng-if="!avalCorreta"> Sua tentativa <span class="incorreta">não passou </span> nos casos de teste   		</div>
		<div ng-if="!avalCorreta">Tentativa nº: <strong ng-bind="nTentativa"></strong>		</div>
		<div ng-if="!avalCorreta">A saída da sua solução: <strong ng-bind="resultado"></strong>		</div>
	
	<button ng-if="avalCorreta" ng-click="enviar()" class="btn btn-succes"> Submeter Resposta Final </button>

</div>
<div ng-if="avaliador">
		<div>Condições:</div>
		<div ng-repeat="item in avaliador track by $index" >
			<span ng-if="formatAvaliador" class="avaliador">
				<i ng-if="item.valor" class="fa fa-check fa-sm check" aria-hidden="true"></i>
				<i ng-if="!item.valor" class="fa fa-exclamation fa-sm excl" aria-hidden="true"></i>
		
			</span>
			<span ng-bind="item.nome"></span>
		</div>	
	</div>