.msg-senha{
	color: #ca1212;
    font-size: 12px;
}
.invalid{
	border-color: #ca1212;
}

.msg-error{
	color: #ca1212;
    font-size: 12px;
}

.msg-succes{
	color: green;
    font-size: 12px;
}

.btn-logar{
	margin:25px 0;
}