.titulo{margin:5px 0 20px;font-size:20px;font-weight:600}.dicas{margin-top:10px;color:#666;font-size:13px}.btn-editar button{background:#ffaa09;border:solid 1px #ec9e00;color:#fff;border-radius:2px}.btn-editar button:hover{border-color:#bf8308;color:#f1f1f1}.btn-deletar button{background:#ca0808;color:#fff;border:solid 1px #960000;border-radius:2px}.btn-deletar button:hover{border-color:#6d0000;color:#f1f1f1}.dado{border:solid 1px #efefef;padding:5px 2px;margin:5px 0;border-radius:3px}.btn-novo{background:#048e04;border:solid 1px #0c6f0c;color:#fff}.btn-novo:hover{border-color:#0c6f0c}

span.titulo-dados {
    font-size: 28px;
    /* margin: 30px; */
}

.conteiner-tabela {
    margin:  15px 0 ;
    
}

.conteiner-tabela .md-form.form-sm.ng-pristine.ng-valid {
    display: inline !important;
    margin-left: 35px;
}

span.desvPad {
    font-size: 11px;
    color: #666;
}

.colunaMedia {
    min-width: 100px;
    text-align:center;
}

td,th {
	text-align: center;
}

td.first,th.first {
	text-align: left;
}

td.first{
	cursor: pointer;
	/*text-decoration: underline;*/
}