.titulo {
    margin: 5px 0 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.dicas {
    margin-top: 10px;
    color: #666;
    font-size: 13px;
}

.btn-editar button {
    background: #ffaa09;
    border: solid 1px #ec9e00;
    color: white;
    border-radius: 2px;
}

.btn-editar button:hover {
    border-color: #bf8308;
    color: #f1f1f1;
}



.btn-deletar button {
    background: #ca0808;
    color: white;
    border: solid 1px #960000;
    border-radius: 2px;
}

.btn-deletar button:hover {
    border-color: #6d0000;
    color: #f1f1f1;
}

.dado {
    border: solid 1px #a29898;
    padding: 5px 2px;
    margin: 5px 0px;
    border-radius: 3px;
}

.btn-novo {
    background: #048e04;
    border: solid 1px #0c6f0c;
    color: white;
}

.btn-novo:hover {
    border-color: #0c6f0c;
}

.facil{
    background-color: rgb(187, 187, 199);
}

.adequado{
    background-color: rgba(1, 208, 1, 0.88);
}

.dificil{
    background-color: rgba(234, 14, 14, 0.78);
}

.ball {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    /* background:red; */
    border-radius: 50%;
    margin: 0;
    /* top: 0px; */
}
.legenda{
     border: solid 1px #a29898;
    padding: 5px 2px;
    margin: 5px 0px;
    border-radius: 3px;
    display: inline-block;
}